* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope';
}

/* root  */
:root {
    --black: #1C1C1C;
    --dark-gray: #777;
    --dark-pink: #494949;
    --primary-font: 80px;
    --primary-width: 800;
    --secondary-font: 45px;
    --secondary-width: 600;
    --Tartary-font: 16px;
    --tartary-width: 300;
}

/* ------------------------------------------------------------------------------------------------------------------                                            banner section styles
------------------------------------------------------------------------------------------------------------------*/

.banner {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

.banner-details {
    width: 100%;
    max-width: 800px;
}

.banner-heading {
    font-size: var(--primary-font);
    font-weight: var(--primary-width);
    margin-bottom: 30px;
}

.banner-title {
    font-size: var(--Tartary-font);
    font-weight: var(--tartary-width);
    color: var(--dark-gray);
    margin-bottom: 30px;
}

.primary-btn {
    color: white;
    background: linear-gradient(to right, #FF8938, #F00);
    padding: 12px 30px;
    border: 0;
    border-radius: 5px;
    font-size: var(--Tartary-font);
    font-weight: var(--tartary-width);
}

.primary-btn img {
    width: 10px;
    height: 10px;
    margin-left: 5px;
}

.banner-img {
    margin-top: 50px;
    width: 100%;
    max-width: 800px;
}

.ice-img {
    width: 100%;
}

.banner-rating {
    background-color: white;
    box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.562);
    border-radius: 5px;
    width: 250px;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 30px 15px;
    position: relative;
    top: -120px;
    left: 100px;
}



/* ------------------------------------------------------------------------------------------------------------------                                            banner section styles finish
------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------                                            products section style
------------------------------------------------------------------------------------------------------------------*/

.products {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}
.products-description{
    text-align: center;
    margin-bottom: 50px;
}
.products-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}
.product{
    background-color: #F4F4F4;
    text-align: center;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.342);
}
.products-heading{
    font-size: var(--secondary-font);
    font-weight: var(--secondary-width);
}
.proucts-title{
    color: var(--dark-gray);
    font-size: var(--Tartary-font);
}
.product p{
    color: var(--dark-gray);
}






/* ------------------------------------------------------------------------------------------------------------------                                            products section style finish 
------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------                                            tea section style
------------------------------------------------------------------------------------------------------------------*/

.tea{
    width: 100%;
    max-width: 1600px;
    margin: 100px auto;
    display: flex;
    gap: 52px;
}
.tea-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(4, 1fr); */
    gap: 40px;
    width: 100%;
    max-width: 800px;
}
.one{
   background: linear-gradient(to right, #d4d3d2, white);
   border-radius: 5px;
}
.two{
    background: linear-gradient(to right, #d4d3d2, rgb(238, 224, 224));
    /* grid-row: 3 / 5; */
    border-radius: 5px;
    padding: 40px 30px;
    
}
.three{
    background: linear-gradient(to right, #d4d3d2, rgb(224, 211, 211));
    /* grid-row: 1 / 3; */
    padding: 40px 30px;
    border-radius: 5px;
}
.four{
    background: linear-gradient(to right, #d4d3d2, white);
    border-radius: 5px;
}
.tea-heading{
    font-size: var(--secondary-font);
    font-weight: var(--secondary-width);
    margin-bottom: 30px;
}
.tea-title{
    color: var(--dark-gray);
    font-size: var(--Tartary-font);
}
.tea-shorts{
    margin-top: 30px;
}
.tea-shorts p{
    color: var(--dark-gray);
    margin-top: 20px;
}








/* ------------------------------------------------------------------------------------------------------------------                                            tea section style finish
------------------------------------------------------------------------------------------------------------------*/

/* ------------------------------------------------------------------------------------------------------------------                                            clients section style 
------------------------------------------------------------------------------------------------------------------*/
.clients{
    background-color: red;
    width: 100%;
    max-width: 1600px;
    background-image: url(../images/cup2.png);
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: center bottom;
    margin: 0 auto;
    height: 60vh;
    margin-bottom: 100px;
    display: flex;
    padding: 0 70px;
    align-items: center;
    border-radius: 5px;
    justify-content: space-between;
    background-blend-mode: multiply;


}
.clients-heading{
    font-size: var(--secondary-font);
    font-weight: var(--secondary-font);
    color: white;
    margin-bottom: 30px;
}
.clients-title{
    font-style: var(--Tartary-font);
    font-weight: var(--tartary-width);
    color: white;
    margin-bottom: 30px;
}
.clients-btn{
    border: 0;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: white;
}
.clients-details{
    background-color: white;
    border-radius: 5px;
    padding: 50px;
    display: flex;
}
.clients-img{
    position: relative;
    top: -70px;
    left: -70px;
}
.name-heading{
    color: var(--dark-gray);
    font-weight: 400;
    font-size: var(--Tartary-font);
    margin-bottom: 20px;
}
.name{
    font-weight: bold;
    font-size: var(--Tartary-font);
}
.name-title{
    color: #5D5A6F;
    font-weight: 500;
    font-size: var(--Tartary-font);
}





/* ------------------------------------------------------------------------------------------------------------------                                            clients section style finish
------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------                                            news section style start
------------------------------------------------------------------------------------------------------------------*/
.news{
    width: 100%;
    max-width: 1600px;
    margin: 100px auto;
}
.news-description{
    text-align: center;
    margin-bottom: 50px;
}

.news-heading{
    font-size: var(--secondary-font);
    font-weight: var(--primary-width);
}
.news-title{
    font-size: var(--Tartary-font);
    font-weight: var(--tartary-width);
    color: var(--dark-gray);
}
.events{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}
.event{
    background-color: white;
    border-radius: 5px;
    padding: 30px 10px;
    box-shadow: 0px 0px 13px 0px black;
    display: flex;
    justify-content: center;
}
.event-date{
    margin: 20px 0;
    font-weight: bold;
    color: var(--dark-pink);
}
.event-heading{
    font-style: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}
.event-title{
    font-size: 16px;
    font-weight: 400;
    color: var(--dark-gray);
    margin-bottom: 15px;
}
.anchor {
    text-decoration: none;
    color: black;
    font-weight: bold;
}





/* ------------------------------------------------------------------------------------------------------------------                                            news section style finish
------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------                                            media quires
------------------------------------------------------------------------------------------------------------------*/

/* android media quires */
@media only screen and (max-width: 577px) {

    .banner, .clients {
        flex-direction: column;
        text-align: center;
    }
    .products-list {
        grid-template-columns: repeat(1, 1fr);
    }
    .tea{
        flex-direction: column-reverse;
    }
    .tea-description{
        text-align: center;
    }
    .tea-container, .events{
        grid-template-columns: repeat(1, 1fr);
        text-align: center;

    }
    .clients-details{
        flex-direction: column;
    }

}




/* tablet media quires */

@media only screen and (min-width: 576px) and (max-width: 980px) {
    .banner, .clients {
        flex-direction: column;
        text-align: center;
        padding: 5px 0;
    }
    .products-list{
        grid-template-columns: repeat(2, 1fr);
    }
    .tea{
        flex-direction: column-reverse;
        padding: 5px 0;
    }
    .tea-description{
        text-align: center;
    }
    .tea-container, .events{
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }
}



/* ------------------------------------------------------------------------------------------------------------------                                            media quires finish
------------------------------------------------------------------------------------------------------------------*/